{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'sgd/site.css' %}" />
{% block content %}
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="myfile">
    <button type="submit">Upload</button>
  </form>
{% if predicate %}
  <img src="{% static '/subject.jpg' %}" height="420">
  <div class="message">{{ predicate }}</div>
  {% for probability in probabilities %}
    <div class="probabilities">
      <p>{{ probability }}</p>
    </div>
  {% endfor %}
{% endif %}
{% endblock %}